<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Comics</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <h1 class="title">Action Comics</h1>
        <div class="issue-card">
            <h2>Latest Release:</h2>
            <h3>Action Comics <%= locals.currentIssue.issue_number %></h3>
                <h4>Store Date: <%= locals.currentIssue.store_date %></h4>
            <img src="<%= locals.currentIssue.image.medium_url %>" alt="Action Comics Cover" style="width: 200px;">
        </div>
    </div>
</body>

</html>